Jinja2==2.7.2\ndjango==2.0.1\npython-etcd==0.4.5\nDjango-Select2==6.0.1 # this version installs with lowercase so it catches a previous bug in pip_resolve.py\nirc==16.2 # this has a cyclic dependecy (interanl jaraco.text <==> jaraco.collections)\ntesttools==\\\n    2.3.0 # this has a cycle (fixtures ==> testtols);\n./packages/prometheus_client-0.6.0\n
